<!doctype html>
<html class="no-js" lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Our salon takes pride in providing our valued customers all good services and customer service satisfaction. At Zombiz Salon, a wide choice is provided to customers, you can use any services that you like. All of our services are at decent prices, so there is no hesitation when you use one or even more services at our salon.">
    <meta name="keyword"
        content="Zombiz Salon, Zombiz Salon in Texas, nails salon near me, luxury nails, best nails color, nails spa, nails salon, nails bar, perfect nail, nails polish, gel polish, best nail color, nails spa near me, pedicure near me, nail bar near me">
    <meta name="author" content="Zombiz Salon | Top Nails Salon in Texas">
    <title>Zombiz Salon | Top Nails Salon in Texas</title>
		
        <!--font-family-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalnia&display=swap" rel="stylesheet">	        
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap" rel="stylesheet">
        
	    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">		
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <!-- for title img -->
		<link rel="shortcut icon" type="image/icon" href="images/favicon.png"/>
		
		<meta property="og:image" content="images/">
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		
		<!--linear icon css-->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		
		<!--animate.css-->
        <link rel="stylesheet" href="css/animate.css">
		
		<!--hover.css-->
        <link rel="stylesheet" href="css/hover-min.css">
		
		<!--vedio player css-->
        <link rel="stylesheet" href="css/magnific-popup.css">

		<!--owl.carousel.css-->
        <link rel="stylesheet" href="css/owl.carousel.min.css">
		<link href="css/owl.theme.default.min.css" rel="stylesheet"/>


        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link href="css/bootsnav.css" rel="stylesheet"/>	
        
        <!--style.css-->
        <!-- <link rel="stylesheet" th:href="@{${template + '/css/style.css'}}">-->        
       <!-- <link rel="stylesheet" th:href="@{${template + '/css/style.css'}}"> -->
		
        
        <!--responsive.css-->
        <link rel="stylesheet" href="css/responsive.css">
        <!-- <link rel="stylesheet" th:href="@{${template + '/css/' + folder + '/style.css'}}"> -->
        <link rel="stylesheet" href="css/new-style.css">
        
        
        <style>
        	.single-slide-item.slide-1{
        		background-image: url(images/banner1.jpg);
        		position:relative;
				z-index:1;
        	}
        	
        	.single-slide-item.slide-2{
        		background-image: url(images/banner2.jpg);
        		position:relative;
				z-index:1;
        	}
        	
        	.about-part{
				position:relative;
				background:url(images/banner2.jpg);
				background-position:center;
				background-size:cover;
				padding: 124px 0 144px;
				z-index:1;
			}                	
        	
        	.statistics{
				position:relative;
				background:url(images/counter-banner.jpg');
				background-repeat: no-repeat;
				background-position:center;
				background-size:cover;
				padding: 98px 0 81px;
			}
			..contact {
			    padding: 115px 0 120px;
			    background:url(images/map.jpg);
			    background-repeat: no-repeat;
				background-position:center;
				background-size: cover;
				position: relative;
			}
        	
        </style>

    </head>
	
	<body>
		<!--header start-->
		<section class="header">
			<div class="container">	
				<div class="header-left">
					<ul class="pull-left">
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="tel:+1(000) 000-9999">(000) 000-9999</a>
						</li>
						
                        <li></li>
						
                        <li></li>
						
                        <li></li>
					</ul>
				</div>
				<div class="header-right pull-right"></div>
			</div>
		</section>
		<!--header end-->
		
		<!--menu start-->
		<section id="menu" class="w-100">
			<div class="container">
				<div class="menubar">
					<nav class="navbar navbar-default">
					
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index">
								<img class="logo-img" src="images/logo.png" alt="Zombiz Salon">
							</a>
						</div><!--/.navbar-header -->

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="services">Services</a></li>
								<li><a href="gallery">Gallery</a></li>
								<li><a href="" target="_blank">Appointment</a></li>
								<li><a href="contact">Contacts</a></li>
							</ul><!-- / ul -->
						</div><!-- /.navbar-collapse -->
					</nav><!--/nav -->
				</div><!--/.menubar -->
			</div><!-- /.container -->
		</section><!--/#menu-->
		<!--menu end-->
		
		<!-- header-slider-area start -->
		<section class="header-slider-area">
			<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
			
			  <!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="single-slide-item slide-1">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<h2>Consult Your Business With Us</h2>
											<p>We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems.</p>

											<a class="btn-book" href="" target="_blank">Book Now</a>																					
										</div><!-- /.single-slide-item-content-->
									</div><!-- /.col-->
								</div><!-- /.row-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
					</div><!-- /.item .active-->
					<div class="item">
						<div class="single-slide-item slide-2">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<div class="single-slide-item-content">
											<h2>Consult Your Business With Us</h2>
											<p>We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems.</p>

											<a class="btn-book" href="" target="_blank">Book Now</a>																					
										</div><!-- /.single-slide-item-content-->
									
									</div><!-- /.col-->
								</div><!-- /.row-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
					</div><!-- /.item .active-->
				</div><!-- /.carousel-inner-->

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="lnr lnr-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="lnr lnr-chevron-right"></span>
				</a>
			</div><!-- /.carousel-->

		</section><!-- /.header-slider-area-->
		<!-- header-slider-area end -->
		
		<!--we-do start -->
		<section  class="we-do">
			<div class="container">
				<div class="we-do-details">
					<div class="section-header text-center">
						<h2>what we do</h2>
					</div><!--/.section-header-->
					<div class="we-do-carousel">
						<div class="row">
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="images/service-01.jpg" alt="image of consultency" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="services#targeta">Service A</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>Service A</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="images/service-02.jpg" alt="image of consultency" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="services#targetb">Service B</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>Service B</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="images/service-03.jpg" alt="image of consultency" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="services#targetc">Service C</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>Service C</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="images/service-04.jpg" alt="image of consultency" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="services#targetd">Service D</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>Service D</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="images/service-05.jpg" alt="image of consultency" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="services#targete">Service E</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>Service E</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="images/service-02.jpg" alt="image of consultency" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="services#targetf">Service F</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>Service F</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div><!--/.col-->							
						</div><!--/.row-->
					</div><!--/.we-do-carousel-->
				</div><!--/.we-do-details-->
			</div><!--/.container-->

		</section><!--/.we-do-->
		<!--we-do end-->

		<!--about-us start -->
		<section class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>about us</h2>
									<p>Lorem ipsum dolor sit amt conetur adcing elit. Sed do eiusod tempor utslr. Ut laboris nisi ut aute irure dolor in rein velit esse.</p>
									<div class="project-btn">
										<a href="about" target="_blank" class="project-view">learn more
										</a>
									</div><!--/.project-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-img">
									<img src="images/ab2.jpg" alt="about images">
								</div><!--/.about-us-img-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->

		<!--project start-->
		<section id="project"  class="project">
			<div class="container">
				<div class="project-details">
					<div class="project-header text-left">
						<h2>Gallery</h2>
						<!-- <p>
							Pallamco laboris nisi ut aliquip ex ea commodo consequat. 
						</p> -->
					</div><!--/.project-header-->
					<div class="project-content">
						<div class="gallery-content">
							<div class="isotope">
								<div class="row">
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-01.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-02.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-03.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-04.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-05.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-06.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-07.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-08.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="item">
													<img src="images/gallery-mau-09.jpg" alt="portfolio image"/>
													<div class="isotope-overlay">
														<a href="gallery">
															<span class="lnr lnr-link"></span>															
														</a>
														<h3>
															<a href="gallery" target="_blank">Zombiz Salon</a>
														</h3>
														<p>View More</p>
													</div><!-- /.isotope-overlay -->
												</div><!-- /.item -->
											</div>
											
											
											<!-- /.col -->
										</div><!-- /.row-->
									</div><!-- /.col -->
								</div><!-- /.row -->
							</div><!--/.isotope-->
						</div><!--/.gallery-content-->
					</div><!--/.project-content-->
				</div><!--/.project-details-->
				<div class="project-btn text-center">
					<a href="gallery"  class="project-view">view all
					</a>
				</div><!--/.project-btn-->
			</div><!--/.container-->

		</section><!--/.project-->
		<!--project end-->


		<!--team start -->
		<section  class="team">
			<div class="container">
				<div class="team-details">
					<div class="project-header team-header text-left">
						<h2>Specialties</h2>
						<!-- <p>
							Pallamco laboris nisi ut aliquip ex ea commodo consequat. 
						</p> -->
					</div><!--/.project-header-->
					<div class="team-card">
						<div class="container">
							<div class="row">
								<div class="owl-carousel  team-carousel">
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-01.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-02.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-03.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-04.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-05.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-06.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-07.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-08.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-09.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-10.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-11.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div>
									<div class="col-sm-3 col-xs-12 padding">
										<div class="single-team-box team-box-bg-1 ">
											<img src="images/gallery-mau-12.jpg" alt="portfolio image"/>
											<div class="team-box-inner">
												<h3>Zombiz Salon</h3>
												<!-- <p class="team-meta">Pallamco laboris nisi</p> -->
												<a href="gallery" class="learn-btn">
													learn more
												</a>
											</div><!--/.team-box-inner-->

										</div><!--/.single-team-box-->
									</div><!--.col-->
								</div><!--/.team-carousel-->
							</div><!--/.row-->
						</div><!--/.container-->
					</div><!--/.team-card-->
				</div><!--/.team-details-->
			</div><!--/.container-->

		</section><!--/.team-->
		<!--team end-->

		<!-- testemonial Start -->
		<section   class="testemonial">
			<div class="container">
				<div class="section-header text-center">
					<h2>
						<span>
							What our clients say!
						</span>
					</h2>
				</div><!--/.section-header-->
				<div class="owl-carousel owl-theme" id="testemonial-carousel">
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>Love their work . Will definitely come back 😍.</p>
								<h3>
									<a href="#">Stephen Adams</a>
								</h3>
								<!-- <h4>NAIL, Nail</h4> -->
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div>
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>Amazing salon 10-10 will come again!! Thank you for your hard work.</p>
								<h3>
									<a href="#">Sam Peterson</a>
								</h3>
								<!-- <h4>NAIL, Nail</h4> -->
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div>
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>Best pedicures and dip manicures! Oh and mimosas!! Always great service as well!!!.</p>
								<h3>
									<a href="#">Jane McMillan</a>
								</h3>
								<!-- <h4>NAIL, Nail</h4> -->
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
				</div><!--/.testemonial-carousel-->
			</div><!--/.container-->
		</section><!--/.testimonial-->	
		<!-- testemonial End -->		
		
		<!--hm-footer start-->
		<section class="hm-footer">
			<div class="container">
				<div class="hm-footer-details">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-lg-12 pb-5">
							<div class="hm-footer-widget">
								<div class="hm-foot-title ">
									<div class="logo">
										<a href="index">
											<img class="logo-footer" src="images/logo.png" alt="logo" />
										</a>
									</div>
								</div>
								<div class="hm-foot-para span-f">
									<span>When you leave our nail salon, you will be more confident and beautiful. To accomplish this, a clean working environment is vital.</span><br>
								</div>
							</div>
							<div class="hm-foot-title">
								<h4>BUSINESS HOURS</h4>
							</div>
							<div class="hm-foot-para">
								<ul>								
									<li>
										<div class="row">
											<div class="column-left pr-0 text-right span-f">
												<span>Mon-Sat:</span>
											</div>
											<div class="col-8 pl-2 text-left span-f">
												<span>09:00 AM - 07:00 PM</span>
											</div>
										</div>
										<div class="row">
											<div class="column-left pr-0 text-right span-f">
												<span>Sunday:</span>
											</div>
											<div class="col-8 pl-2 text-left span-f">
												<span>Closed</span>
											</div>
										</div>
										
									</li>
								</ul>  
							</div>
						</div>
						<div class=" col-md-3 col-sm-6 col-lg-12">
							<div class="hm-footer-widget">								
								<div class="footer-line">
									<div class="border-bottom"></div>
								</div>
							</div>
							<div class="hm-foot-icon">
								<ul>
									<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->									
									<li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li><!--/li-->	
									<li><a href="https://goo.gl/maps/y7NdHwkZfeYn3HS99" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->								
								</ul>
							</div>
						</div>
				  </div>
			 </div>
		</section>
		<!--hm-footer end-->
		
		<!-- footer-copyright start -->
		<footer class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="foot-copyright pull-left">
							<p>
								&copy; All Rights Reserved. Designed and Developed by
							 	<a href="https://www.lldtek.org" target="_blank">LLDTEK</a>
							</p>
						</div><!--/.foot-copyright-->
					</div><!--/.col-->					
				</div><!--/.row-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->
		
		<!--Popup -->
		<!-- <div id="popup-ads" class="modal" tabindex="-1" role="dialog" th:if="${dataObj.info.others.slider == true}">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<a th:href="@{${'tel:+1' + dataObj.info.salon.phone}}">
							<img class="w-100" th:src="@{${template + '/images/'  + folder + '/' + dataObj.promotions[0].url}}" th:alt="${dataObj.info.salon.name}">
						</a>
						<div class="text-align-center" th:if="${dataObj.info.others.noButton != true}">
							<a class="btn btn-primary btn-viewmore mx-5 mt-3 py-3" target="_blank" th:href="@{${'tel:+1' + dataObj.info.salon.phone}}"><i class="fa fa-phone"></i> Call Now</a>
							<a th:if="${dataObj.info.others.btnBooknow == true}" class="btn btn-primary btn-viewmore mx-5 mt-3 py-3" target="_blank" th:href="${dataObj.info.social.booking}"><i class="fa fa-calendar"></i> Book Now</a>
		              		<a th:if="${dataObj.info.others.btnFanpage == true}" class="btn btn-primary btn-viewmore mx-5 mt-3 py-3" target="_blank" th:href="${dataObj.info.social.facebook}"><i class="fa fa-facebook"></i> FanPage</a>
		              	</div>
					</div>
				</div>
			</div>
		</div> -->
		<!--//Popup  -->

		<!-- jaquery link -->

		<script src="js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        
        <!--modernizr.min.js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		
		<!--bootstrap.min.js-->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="js/bootsnav.js"></script>
		
		<!-- for manu -->
		<script src="js/jquery.hc-sticky.min.js" type="text/javascript"></script>

		
		<!-- vedio player js -->
		<script src="js/jquery.magnific-popup.min.js"></script>


		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--owl.carousel.js-->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
		
		<!-- counter js -->
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		
        <!--Custom JS-->
        <script type="text/javascript" src="js/jak-menusearch.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
		

    </body>
	
</html>



