<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Our salon takes pride in providing our valued customers all good services and customer service satisfaction. At Nail Salon , a wide choice is provided to customers, you can use any services that you like. All of our services are at decent prices, so there is no hesitation when you use one or even more services at our salon.">
    <meta name="keyword"
        content="Nail Salon , Nail Salon  in , nails salon near me, luxury nails, best nails color, nails spa, nails salon, nails bar, perfect nail, nails polish, gel polish, best nail color, nails spa near me, pedicure near me, nail bar near me">
    <meta name="author" content="Nail Salon  | Top Nails Salon in">
    <title>Nail Salon  | Top Nails Salon in </title>
    
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    
    <style>
    	.box-transform{
    		background: url(images/) rgba(0,0,0, 0.2);
    		background-repeat: no-repeat;
    		background-positon: center;
    		background-size: cover;
    		background-blend-mode: color;
    	}
    	.bg-booking{
    		background: url(images/banner-01.jpg);
    		background-repeat: no-repeat;
    		background-size: cover;
    	}
    	.slick-loading .slick-list {
			background: #fff url(images/ajax-loader.gif') center center no-repeat;
		}
    </style>
    
    
    
    
  </head>
  
  
  <body>
    <div class="preloader">
      <div class="wrapper-triangle">
        <div class="pen">
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="56px" data-xl-stick-up-offset="56px" data-xxl-stick-up-offset="56px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner-outer">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                  	<a class="brand" href="index.html">
                  		<img class="brand-logo-dark img-logo" src="images/logo-198x66.png" alt="Nail Salon " width="198" height="66"/>
                  	</a>
                  </div>
                </div>
                <div class="rd-navbar-right rd-navbar-nav-wrap">
                  <div class="rd-navbar-aside">
                    <ul class="rd-navbar-contacts-2">
                      <li>
                        <div class="unit-body">
                          	<a class="phone" href="tel:+1(000) 000-9999">(000) 000-9999</a>
                          	
                          	
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                          <div class="unit-body"><a class="address">9999 Bellaire Blvd., Suite 1111, Houston, TX 77036</a></div>
                        </div>
                      </li>
                    </ul>
                    <ul class="list-share-2">
                      <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com" target="_blank"></a></li>
                      <li><a class="icon mdi mdi-instagram" href="https://www.instagram.com" target="_blank"></a></li>
                      <li><a class="icon mdi mdi-google-plus" href="https://goo.gl/maps/zjE3uu7brKvhQXq89" target="_blank"></a></li>
                      
                    </ul>
                  </div>
                  <div class="rd-navbar-main">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="about.html">About Us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="gallery.html">Gallery</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="services.html">Services</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" target=_blank href="">Appointment</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- parallax top-->
      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
      	<div class="breadcrumbs-custom box-transform-wrap context-dark">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">About us</h3>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
          <div class="box-transform"></div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">About us</li>
          </ul>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">
            <div class="col-lg-12 col-xl-12">
              <!-- Tab panes-->
              <div class="tab-content tab-content-1">
                <div class="tab-pane fade show active text-align-justify" id="tabs-4-1">
                  <h4>Nail Salon </h4>
                  <p>Lorem rebum magna dolore amet lorem eirmod magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum labore diam</p>
                  <img  class="img-about" src="images/about-1-835x418.jpg" alt="Nail Salon "/>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </section>

      <!-- Our clients-->
      <section class="section section-lg bg-default text-md-left">
      
        <div class="container bg-light py-6 px-5">
          <div class="row row-60 justify-content-center flex-lg-row-reverse mx-auto">
            <div class="col-md-8 col-lg-6 col-xl-5 d-none d-lg-block">
              <div class="offset-left-xl-70">
                <h3 class="heading-3">What People Say</h3>
                <div class="slick-quote testimonial bg-light">
                  <div class="slick-slider carousel-parent owl-carousel testimonial-carousel" data-autoplay="true" data-swipe="true" data-items="1" data-child="#child-carousel-5" data-for="#child-carousel-5" data-slide-effect="true">
                    <div class="item">
                      <article class="quote-modern">
                        <h5 class="quote-modern-text"><span class="q">Amazing salon 10-10 will come again!! Thank you for your hard work.</span></h5>
                        <h5 class="quote-modern-author">Stephen Adams</h5>
                      </article>
                    </div>
                    <div class="item">
                      <article class="quote-modern">
                        <h5 class="quote-modern-text"><span class="q">Best pedicures and dip manicures! Oh and mimosas!! Always great service as well!!!.</span></h5>
                        <h5 class="quote-modern-author">Sam Peterson</h5>
                      </article>
                    </div>
                    <div class="item">
                      <article class="quote-modern">
                        <h5 class="quote-modern-text"><span class="q">Love their work . Will definitely come back 😍.</span></h5>
                        <h5 class="quote-modern-author">Jane McMillan</h5>
                      </article>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xl-7"><img src="images/wp-say-669x447.jpg" alt="Nail Salon " width="669" height="447"/>
            </div>
          </div>
        </div>
        
         
      </section>
      
      

     
      
<!-- Page Footer-->
      <footer class="section footer-modern context-dark footer-modern-2 bg-footer">
        <div class="footer-modern-line">
          <div class="container">
            <div class="row row-50">
              <div class="col-md-4 col-lg-3">
                <div class="col-md-12 text-left-footer"><a class="brand" href="index"><img class="img-footer" src="images/logo-inverse-198x66.png" alt="Nail Salon " width="198" height="66"/></a></div>
              </div>
              <div class="col-md-4 col-lg-5">
                <p class="text-align-justify">When you leave our nail salon, you will be more confident and beautiful. To accomplish this, a clean working environment is vital. Before using any nail tools, the equipment is disinfected. We invest in the latest nail chair designs to provide a feeling of relaxation and comfort. This is due to the fact that a highly experienced workforce performs miracles with their hands. We can assist you in selecting the best and most suitable nail for yourself. We hope will be served you as soon as possible at</p>
              </div>
              <div class="col-md-4 col-lg-4">
                <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft">Information</span></h5>
                <ul class="footer-modern-list d-inline-block d-sm-block wow fadeInUp">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="gallery.html">Gallery</a></li>              
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-modern-line-2">
          <div class="container">
            <div class="row row-30 align-items-center">
              <div class="col-sm-6 col-md-12 col-lg-7 col-xl-7">
                <div class="group-xmd group-sm-justify">
                  <div class="footer-modern-contacts wow slideInUp">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon icon-24 mdi mdi-clock"></span></div>
                      <div class="unit-body">
                      	<ul>
							
							<li>
								<div class="row">
									<div class="column-left pr-0 text-right">
										<a href="">Mon - Sat:</a>
									</div>
									<div class="col-8 pl-2 text-left width">
										<a href="">9:00 AM - 7:00 PM</a>
									</div>
								</div>
								<div class="row">
									<div class="column-left pr-0 text-right">
										<a href="">Sun:</a>
									</div>
									<div class="col-8 pl-2 text-left">
										<a href="">Closed</a>
									</div>
								</div>
							</li>
						</ul>
                      </div>
                    </div>
                  </div>
                  <div class="footer-modern-contacts wow slideInDown">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                      <div class="unit-body email"><a href="mailto:email@gmail.com">email@gmail.com</a></div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="col-sm-6 col-md-12 col-lg-5 col-xl-5 oh-desktop">
                <div class="group-xmd group-sm-justify">
                  <div class="footer-modern-contacts wow slideInUp">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon icon-24 mdi mdi-phone"></span></div>
                      <div class="unit-body">
                      	<a class="phone" href="tel:+1(000) 000-9999">(000) 000-9999</a><br>
                      	<!-- <span th:if="${dataObj.info.salon.phone2} != ''">/</span> -->
                      	
                      </div>
                    </div>
                  </div>
                  <!-- <div class="footer-modern-contacts wow slideInDown">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                      <div class="unit-body"><a class="mail" th:href="@{${'mailto:' + dataObj.info.salon.email}}" th:text="${dataObj.info.salon.email}">info@domain.com</a></div>
                    </div>
                  </div> -->
                  <div class="wow slideInRight">
                    <ul class="list-inline footer-social-list footer-social-list-2 footer-social-list-3">
                      <li><a class="icon mdi mdi-facebook" href="https://www.facebook.com" target="_blank"></a></li>
                      <li><a class="icon mdi mdi-instagram" href="https://www.instagram.com" target="_blank"></a></li>
                      <li><a class="icon mdi mdi-google-plus" href="https://goo.gl/maps/zjE3uu7brKvhQXq89" target="_blank"></a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-modern-line-3">
          <div class="container">
            <div class="row row-10 justify-content-between">
              <div class="col-md-6"><span>9999 Bellaire Blvd., Suite 1111, Houston, TX 77036</span></div>
              <div class="col-md-auto">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span></span><span>.&nbsp;</span><span>All Rights Reserved.</span><span> Designed&nbsp;by&nbsp;<a href="https://www.lldtek.org">LLDTEK</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>