/********** Template CSS **********/
:root {
    --primary: #13C5DD;
    --secondary: #354F8E;
    --light: #EFF5F9;
    --dark: #1D2A4D;
}


/* new css - Service */
.bg-dark {
    background-color: #fff !important;
    border-bottom: 1px solid #dee2e6 !important;
}

a {
    color: #848E9F;
    text-decoration: none !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #13C5DD;
}

.bg-light-demo {
    background-color: #EFF5F9 !important;
}

body{
	color: #515760;
}
.top-100{
	top: -25px !important;
}
img {
    max-width: 100%;
}
.title-big {
    font-size: 30px;
    font-weight: 300;
    padding: 0 0 16px 15px;
    background: linear-gradient(360deg, #3cc6dc 100%, #3cc6dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

h1.text-yellow1 {
	color: #dfdfdf !important;
}

.text-yellow-light {
	color: #1D2A4D;;
}

.text-yellow-light.name {
	color: #13c5dd;
}

.text-yellow-light.text-uppercase {
	color: #13C5DD;
}

.btn-line.btn-lg-square.back-to-top {
	background-color: #13c5dd;
}

.bg-black.rounded {
	background: #eff5f9;
}

.text-yellow-light.me-3 {
	color: #13c5dd !important;
}

.container-fluid.bg-dark.text-light {
	background-color: #1D2A4D !important;
}

.text-white {
	color: #13c5dd !important;
}

.text-yellow-light:hover {
	color: #fff;
}

.text-light{
	color: #fff;
}

.text-light:hover {
	color: #13c5dd;
}


.width-boder {
    width: 40px;
}

.btn-line {
    color: #fff;
    background-color:#1d2a4d;    /* border-color: #000; */
}

.btn-line.gallery {
    background-color: #fae2a5;
    border-color: #ad9967;
}

.bg-white {
    background-color: #13c5dd !important;
}

.btn-line:hover {
	color: #fff;
    border-color: #fff;
    background: #1d2a4d;
}

.bg-black {
	background: #fff;
}

.text-yellow-dark {
	color: #1D2A4D;
}

.btn-btn-outline {
	color: #fff;
    border-color: #fff;
}

.btn-btn-outline:hover {
	color: #000;
    background: #dfdfdf;
    border-color: #000;
}


.line-dash {
    border: 1px solid rgba(255,255,255,0.05);
    height: 0.5px;
    width: 100%;
    margin: 40px 0;
}
.description {
    font-style: italic;
    color: #a5a5a5;
    padding: 5px 0 calc(var(--bs-gutter-x) / 2) calc(var(--bs-gutter-x) / 2);
}
.list-style-none {
	list-style: none;
}

.column-left{
	width: 100px;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.btn {
    font-weight: 700;
    transition: .5s;
}

.btn:hover {
    -webkit-box-shadow: 0 8px 6px -6px #555555;
    -moz-box-shadow: 0 8px 6px -6px #555555;
    box-shadow: 0 8px 6px -6px #555555;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        bottom: 0;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.hero-header {
    background: url(../img/hero.jpg) top right no-repeat;
    background-size: cover;
}

.service-item {
    position: relative;
    height: 380px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 50%;
    /* transform: rotate(-14deg); */
    transform: rotate(0);
}

.service-item .service-icon i {
    transform: rotate(15deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}

.price-carousel::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: var(--primary);
    border-radius: 8px 8px 50% 50%;
    z-index: -1;
}

.price-carousel .owl-nav {
    margin-top: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

@media (min-width: 576px) {
    .team-item .row {
        height: 350px;
    }
}

@media (min-width: 768px) {
	.border-right-img {
	    border-right: 1px solid rgba(0,0,0,0.1);
	}
	.border-right {
	    border-right: 1px solid rgba(0,0,0,0.1) !important;
	}	
}	





.team-carousel .owl-nav {
    position: absolute;
    padding: 0 45px;
    width: 100%;
    height: 45px;
    top: calc(50% - 22.5px);
    left: 0;
    display: flex;
    justify-content: space-between;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: var(--light);
    border: 2px solid var(--primary);
    border-radius: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}
